<%= render "shared/banner"%>

<br>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-product">
      <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, crop: :fill, class: 'img-card' %>
      <% end %>
      <div class="card-product-infos">
        <h2><%= link_to  "#{cocktail.name}", cocktail_path(cocktail) %></h2>
        <% cocktail.doses.each do |dose| %>
          <p><%=dose.ingredient.name%> : <%=dose.description%> </p>
        <% end %>
      </div>
      <br>
      </div>
    <% end %>
  </div>
</div>


