<%if @cocktail.photo.attached?  %>
  <%= cl_image_tag @cocktail.photo.key, height: 60, width: 100, crop: :fill %>
<% end %>
<h1><%= @cocktail.name %> </h1>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>Ingredient : <%= dose.ingredient.name %> - <%= dose.description %>
      <%= link_to "Delete", dose_path(dose), method: :delete %>
    </li>
  <% end %>
</ul>
<br>
<%= link_to "New doses and ingredients", new_cocktail_dose_path(@cocktail)  %>
<br>
<br>
<%= link_to "Back to the list of cocktails", root_path  %>

