<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key, crop: :fill %>')">
  <div class="container">
    <h1><%= @cocktail.name%></h1>
  </div>
</div>

<div class="container">
  <div class="ingredients">
    <h2>List of ingredients</h2>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %> - <%= dose.description %>
        <%= link_to "Delete", dose_path(dose), method: :delete %>
      </li>
    <% end %>
  </div>
  <br>
  <p><%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), {:style=>'text-align: center;'}  %></p>
  <br>
  <%= link_to "Back to the list of cocktails", root_path  %>
</div>
<%= render "shared/footer"%>
